<?
// Put the host address, user name, password, and db name inside the ""
$dbhost = "";
$dbuser = "";
$dbpw = "";
$dbname = "";
// $dbp allows multiple installations to share one database.
// It's used as a prefix for the names of all the tables.
$dbp = "";
try {
    $dbh = new PDO($dsn, $dbuser, $dbpw);
} catch (PDOException $e) {
    echo "DB Connection failed: ' . $e->getMessage();
}
?>
