body {
    color: black;
    background-color: white;
}

.nonprinting {
    display: none;
}

ul#sitetabs,
div#sitetabs-background {
    display: none;
}

div#content-container {
    border: none;
}

