body {
    padding-top: 0;
    background-color: black;
    color: white;
}

#login {
    font-family: sans-serif;
    font-size: small;
    height: 2.5em;
}

#login * {
    font-weight: bold;
    margin: 0 .5em 0 .5em;
}

#login a:link,
#login a:visited {
    text-decoration: none;
    color: #CCF;
    background-color: transparent;
    font-weight: bold;
}

.odd { background-color: #FFF; }
.even { background-color: #EEE; }
p.hymnlist {
    font-size: smaller;
    margin: 0.2em 0 0.2em 2em;
}
.verified { border: thin solid green; }
.unverified {
    border: thin solid red;
    background-color: #FFEEEE;
    border: medium solid red;
    padding: 1ex;
}
.message {
    color: black;
    background-color: #EEEEFF;
    border: medium solid blue;
    padding: 1ex;
}
.explanation {
    color: #724F13;
    background-color: #EEE5D7;
    border: medium solid #AE791D;
    width: 45em;
    padding: 1ex;
}
tr.heading {
    background-color: #DDD;
    color: black;
}

tr.heading th {
    padding: .7ex 0 .7ex 0;
}

tr.even {
    background-color: #F5F5F5;
}

textarea#outline,
textarea#notes,
textarea#servicenotes{
    height: 8em;
    width: 40em;
    margin: 1ex;
}
div.servicenote {
    padding: 2px 2px 2px 1em;
    border-top: thin dashed black;
    font-size: 80%;
}


select,
input {
    background-color: black;
    color: #EFF;
}
input.entryline {
    margin: 1ex;
}
input.hymn-number {
    width: 3em;
}
input.hymn-note {
    width: 30em;
}
input.hymn-title {
    width: 50em;
    display: none;
}
div.hymn-past {
    width: 50em;
    display: none;
    font-family: sans-serif;
    font-size: smaller;
    color: black;
    background-color: white;
}

div#content-container {
    border: thin solid black;
    border-top: none;
    -moz-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
    margin-top: 0;
    padding-top: 0;
    padding: 1ex;
    background-color: white;
    color: black;
}

table#xref-listing,
table#modify-listing,
table#records-listing,
table#sermonplan-listing {
    background-color: transparent;
    color: black;
    border-collapse: collapse;
}

tr.table-topline td {
    border-top: thin solid black;
}
.table-leftborder {
    border-left: thin solid black;
}
.table-preformat {
    padding: 1ex;
}

td.hymn-number {
    padding: 0 1em 0 1em;
    text-align: right;
}

td.note {
    width: 12em;
}

td.title {
    font-style: italic;
}

/**** site tabs ****/

ul#sitetabs {
    font-size: 10pt; font-family: sans-serif;
    font-weight: bold;
    display: table;
    margin: 0pt; padding: 0pt;
    background-color: black;
    width: 100%;
}
ul#sitetabs A {
    text-decoration: none; color: black;
    display: block;
    width: 90%; text-align: center;
    margin-left: auto; margin-right: auto;
    margin-bottom: -2px;
    border: 2px solid #888;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #555;
    background-color: #BBB;
}
ul#sitetabs > li {
    display: table-cell; display: table-cell;
    margin: 0pt;
    text-align: center;
}
ul#sitetabs > li.activated A  {
    color: black;
    background-color: white;
    border-bottom: 2px solid white;
}
div#sitetabs-background {
    background-color: black;
    padding-top: 1ex;
    padding-bottom: 0;
    border: none;
    margin: 0;
}
#goto-now {
    float: right;
}

a.sortlink {
    width: 100%;
    border: thin solid blue;
    background-color: #DDD;
    color: blue;
    font-weight: bold;
    font-size: 10pt;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
}

a.sortlink :visited {
    color: blue
}

a.sortlink :hover {
    color: #DDD;
    background-color: blue;
    text-decoration: none;
}

.elh {
    color: black;
}

.tlh {
    color: #008;
}

.lsb {
    color: #800;
}

.lw {
    color: #00E;
}

.lbw {
    color: green;
}

.cw {
    color: #C00;
}

.hs98 {
    color: #777;
}

.wov {
    color: #555;
}

.vcenter * {
    vertical-align: middle;
}

.honorspaces {
    white-space: pre;
    font-family: monospace;
}

form#corsform #contents {
    width: 40em;
    height: 5em;
}
