ul.odd { background-color: #FFF; }
ul.even { background-color: #EEE; }
p.hymnlist {
    font-size: smaller;
    margin: 0.2em 0 0.2em 2em;
}
.verified { border: thin solid green; }
.unverified {
    border: thin solid red;
    background-color: #FFEEEE;
    border: medium solid red;
    padding: 1ex;
}
.message {
    color: black;
    background-color: #EEEEFF;
    border: medium solid blue;
    padding: 1ex;
}
.errormessage {
    color: black;
    background-color: #FFEEEE;
    border: medium solid red;
    padding: 1ex;
}
.explanation {
    color: #724F13;
    background-color: #EEE5D7;
    border: medium solid #AE791D;
    width: 45em;
    padding: 1ex;
}
tr.heading {
    background-color: #DDD;
    color: black;
}

textarea#outline,
textarea#notes {
    height: 8em;
    width: 45em;
    margin: 1ex;
}
input.entryline {
    margin: 1ex;
}
