section#existing-services {
    float: right;
    display: block;
}
section#existing-services ul {
    margin: 0;
    padding: 0;
}
section#existing-services li {
    list-style: none;
}

section#service-items li {
    list-style: none;
}

section#service-items label {
    width: 10em;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    font-family: sans-serif;
}
