    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Block Plans</h2>
                <form class="navbar-form navbar-right" role="search">
                    <input type="text" class="form-control" placeholder="Filter on Name"></input>
                </form>
            </div>
            <table class="table"> <!-- In reverse chronological by first date -->
                <tr><th>Time Span</th><th>Name</th><th>Controls</th></tr>
                <tr><td>[Date Range]</td><td>[Name]</td><td>[View]</td></tr>
            </table>

            <!-- From View:  [Edit] [Delete] -->
        </div>
    </div>
