    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Church Year and Lectionary Configuration</h2>
                <form class="navbar-form navbar-right" role="search">
                    <input type="text" class="form-control" placeholder="Filter on Dayname"></input>
                </form>
            </div>
        </div>
        <table class="table">
            <tr><th>Name</th><th>Next</th><th>Controls</th></tr>
            <tr><td>[Name]</td><td>[Next Date]</td><td>[View] [Synonyms] [Propers]</td></tr>
        </table>
        <!-- From View: Edit, Delete -->
    </div>
