<h2>Service Planner Sections</h2>

<dl>
    <dt><a href="#!/services">Services</a></dt>
    <dd>Browse, create, modify, and print services.</dd>
    <dt><a href="#!/report">Report</a></dt>
    <dd>See a printable report summarizing upcoming services in this planner.</dd>
    <dt><a href="#!/blocks">Block Plans</a></dt>
    <dd>Create or modify blocks of services with commonalities between them.</dd>
    <dt><a href="#!/sermons">Sermon Plans</a></dt>
    <dd>See the list of sermon plans that have been made, and modify or print a plan.</dd>
    <dt><a href="#!/xref">Hymn Cross Reference</a></dt>
    <dd>See a sortable list of hymn information cross-referenced across several books.</dd>
    <dt><a href="#!/churchyear">Church Year</a></dt>
    <dd>Configure the Church Year used here, or modify individual propers.</dd>
    <dt><a href="#!/admin">Housekeeping</a></dt>
    <dd>Back up services or liturgical data, customize the way this site works.</dd>
</dl>
