    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Sermon Plans</h2>
                <form class="navbar-form navbar-right" role="search">
                    <input type="text" class="form-control" placeholder="Filter by Day or Text"></input>
                </form>
            </div>
        </div>
        <table class="table">
            <tr><th>Date</th><th>Day</th><th>Text</th><th>Controls</th></tr>
            <tr><td>[Date]</td><td>[Day]</td><td>[Text]</td><td>[View]</td></tr>
        </table>

        <!-- From View: Edit -->
    </div>
