    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Services</h2>
                <form class="navbar-form navbar-right" role="search">
                    <input type="text" class="form-control" placeholder="Filter On Tags"></input>
                </form>

                <table class="table">
                    <tr><th>Date</th><th>Day: Order</th><th>Options</th></tr>
                    <tr><td></td><td></td><td>[buttons]</td></tr>
                </table>
            </div>
        </div>
    </div>
