    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Services</h2>
                <form class="navbar-form navbar-right" role="search">
                    <input type="text" class="form-control" placeholder="Filter On Tags"
                        ng-model="tagFilter.text"></input>
                </form>

                <div ng-if="admin">
                    <form id="rangeform">
                        <label for="include_future">Include all Future Services</label>
                        <input type="checkbox" name="include_future" id="include_future">
                        <label for="from">From</label>
                        <input type="date" name="from" id="from" value="{fromdate}">
                        <label for="to">To</label>
                        <input type="date" name="to" id="to" value="{todate}">
                        <button type="submit">Apply</button>
                    </form>
                    <a href="" ng-click="toggleSort()">{other_sort_order}</a>
                </div>

                <table class="table" ng-repeat="service in services | filter: tagFilter">
                    <tr><th>Date</th><th>Day: Order</th><th>View</th></tr>
                    <tr>{{service.date}}<td></td>{{service.day}: {{service.order}}<td></td><td><a href="" ng-click="viewService({{service.id}})"</td></tr>
                    <tr ng-show="{{show_details[{{service.id}}]}}">
                        <td>
                            <table class="table"><!-- TODO: Swipe between these? -->
                                <tr class="flags"></tr>
                                <tr class="propers"></tr>
                                <tr class="block"></tr>
                                <tr class="hymns"></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- From View: [Sermon] [Data] [Print] [Flags] [Copy] [Edit] [Add]
    </div>
