    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Hymn Cross Reference</h2>
                <form class="navbar-form navbar-right" role="search">
                    <input type="text" class="form-control" placeholder="Name Search"></input>
                </form>
            </div>
        </div>
        <table class="table">
            <tr><th>Title</th><th>Text</th><th>ELH</th><th>TLH</th><th>LSB</th><th>CW</th><th>LW</th><th>LBW</th><th>HS '98</th><th>WOV</th></tr>
            <tr><td>Data</td></tr>
        </table>
    </div>
